.tab {
    -fx-font-family: "System";
}

.check-box {
    -fx-font-family: "System";
}

.radio-button {
    -fx-font-family: "System";
}

.table-cell {
    -fx-font-family: "System";
}

.list-cell {
    -fx-font-family: "System";
}

.text-input {
    -fx-font-family: "System";
}

.text-area {
    -fx-font-family: "System";
}

.label {
    -fx-font-family: "System";
}

.button{
    -fx-font-family: "System";
}